<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  </head>
  <body ng-app="app">
    <div class="container">
	      <div class="page-header">
	        <h1>Demo Store</h1>
	      </div>
     
	     <form ng-submit="checkout()" ng-controller="StockItemsCtrl">
	      	<h2>Shopping Basket</h2>
	      	
	     	<table class="table" >
	   			<tr>
	      			<th>Name</th>
	      			<th>Price</th>
	      			<th>Quantity</th>
	      			<th>Add to basket</th>
	   			</tr>	   
	   			<tr ng-repeat="basketItem in basketItems">
	      			<td>{{ basketItem.stockItem.name }}</td>
	      			<td>{{ basketItem.price.amount | currency : basketItem.currencySymbol }}</td>
	      			<td>{{ basketItem.quantity }}
	      			<td><input type="button" class="btn" name="plusButton" ng-click="plusOne($index)" value="+"/>
	      				<input type="button" class="btn" name="minusButton" ng-click="minusOne($index)" value="-"/>
	      			</td>
	   			</tr>
			</table>
			<input class="btn btn-default" type="submit" id="submit" value="Checkout" />
			<div ng-show="submited">
	     		<h1>Receipt</h1>
	     		<table class="table" >
	   			<tr>
	      			<th>Name</th>
	      			<th>Quantity</th>
	      			<th>Total</th>
	   			</tr>	   
	   			<tr ng-repeat="receiptItem in receiptItems">
	      			<td>{{ receiptItem.name }}</td>
	      			<td>{{ receiptItem.quantity > 0 ? receiptItem.quantity : ""}}</td>	
	      			<td>{{ receiptItem.total | currency: receiptItem.symbol }}</td>	      			
	   			</tr>
			</table>
	     	</div>
	     </form>
	     
     </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/services.js"></script>
  </body>
</html>